body {
    color: teal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1;
    padding: 1;
    background-color: black;
    text-align: justify;
}
h1 {
    color: teal;
    font-size: xx-large;
    text-align: center;
    background-color: crimson;
}
h2 {
    color: teal;
    font-size: 1.5em;
}
p {
    color: teal;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    border-style: outset;
    border-color: crimson;
    border-width: 5px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

nav ul li a menu{
    color: yellow;
    font-family:Verdana, Geneva, Tahoma, sans-serif
      
}

nav ul li a:visited {
    color: rgb(230, 11, 11);
}
div {
    color: teal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
    
}
.button {
    justify-content: center;
    text-align: center;
}
.current {
    text-transform: uppercase;
    color: yellow;
}
img {
    border-style: solid;
    border-color: crimson;
    border-width: 5px;
    border-radius: 5px;
}
nav ul {
    list-style-type:none;
    padding: 5;
    margin: 5;
    display: flex; /* Makes items appear in a row */
    justify-content: space-evenly; /* Spreads items across */
  }
  
  nav li a {
    text-decoration: none;
    padding: 10px 20px;
    background:mediumseagreen; /* Green color */
    color: teal;
    border-radius: 15px;
  }
  .centerimages {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 300px
  }
  .centerimages {
    max-width: 100%;
    height: auto;
  }
  #clock {
    font-size: 50px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
}
#slideshow-container {
    width: 600px;
    height: 400px;
    overflow: hidden; /* Prevents overflow */
	width: 600px;
    margin: auto;
}

#slideshow {
    width: 100%; /* Makes the image fill the container */
    height: 100%;
    object-fit: cover;
	/* Ensures the image scales nicely */
}
 