body {
    color: teal;
    font-family: bradley hand itc, cursive;
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: justify;
}
h1 {
    color: teal;
    font-size: 2em;
    text-align: center;
    background-color: crimson;
}
h2 {
    color: teal;
    font-size: 1.5em;
}
p {
    color: teal;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav ul li a{
    color: teal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration:double
}
nav ul li a:hover {
    color: crimson;
}
nav ul li a:active {
    color: crimson;
}
nav ul li a:visited {
    color: rgb(225, 205, 19);
}
nav ul li a:link {
    color: teal;
}
nav ul li a:focus {
    color: crimson;
}
div {
    color: teal;
    font-family: bradley hand itc, cursive;
    margin: 20px;
    padding: 20px;
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}
.button {
    justify-content: center;
    text-align: center;
}

